
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Game</th>
      <th scope="col">Results</th>
      <th scope="col">Details</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let number of testVar; index as i">
      <th scope="row">{{i + 1}}</th>
      <td>{{ testVar[i].game.gameName }}</td>
      <td>
          <span style="color:aquamarine;">{{ testVar[i].teamWinner.teamName }}</span>
          <span> was victorious against </span>
          <span style="color:pink;">{{ (testVar[i].teamWinner === testVar[i].teamA)? testVar[i].teamB.teamName : testVar[i].teamA.teamName }}</span>
      </td>
      <td>{{ testVar[i].matchDetails }}</td>
      <td>{{ testVar[i].matchDate }}</td>
    </tr>
  </tbody>
</table>