<div>
        <div id="main-promo" class="promo-section">
            <video muted autoplay loop class="background-media" >
                <source src="assets/background-video.mp4" type="video/mp4" />
                Browser not supported
            </video>
            <div class="overlay">
                    <span> ALL RESULTS </span>
                    <br />
                    <span> ONE PLACE </span>
                    <br />
                    <span id="emphasise"> GAME ON! </span>
            </div>
        </div>
        <div id="promo-2" class="promo-section">
            <img class="background-media" src="assets/home-background.jpeg" />
            <div class="overlay">
                    <span style="color:pink; font-size:8rem"> Phoenix </span>
                    <br />
                    <span>they face their biggest challenge yet!! </span>
                    <br />
                    <span style="color:aquamarine"> SEE RESULTS </span>
            </div>
        </div>
        <div id="promo-3" class="promo-section">
            <span style="color:yellow; font-size:8rem"> et cetera </span>
        </div>
</div>
